<div class="page-container">
  <div class="form-card">
    <button class="back-button" (click)="goHome()">← Volver al inicio</button>
    <h2>Crear Receta</h2>

    <form>
      <label for="nombre">Nombre de la Receta</label>
      <input type="text" id="nombre" placeholder="Ej. Ensalada César" />

      <label for="descripcion">Descripción</label>
      <input type="text" id="descripcion" placeholder="Breve descripción..." />

      <label for="tiempo">Tiempo de preparación (min)</label>
      <input type="number" id="tiempo" placeholder="Ej. 30" />

      <button type="submit">Guardar Receta</button>
    </form>
  </div>
</div>
