.login-card {
  width: 90%;             /* Ocupa el 90% en móviles */
  max-width: 400px;       /* No pasa de 400px en PC */
  margin: 50px auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  background-color: #5d9ca5;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #5d9ca5;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

a.register {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
}

a.forgot {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  color: #444;
}
