<div class="page-container">
  <div class="form-card">
    <button class="back-button" (click)="goHome()">← Volver al inicio</button>
    <h2>Crear Proveedor</h2>

    <form>
      <label for="nombre">Nombre del Proveedor</label>
      <input type="text" id="nombre" placeholder="Ej. Distribuidora López" />

      <label for="contacto">Contacto</label>
      <input type="text" id="contacto" placeholder="Teléfono o correo" />

      <label for="producto">Producto principal</label>
      <input type="text" id="producto" placeholder="Ej. Harina" />

      <button type="submit">Guardar Proveedor</button>
    </form>
  </div>
</div>
