<div class="grid-opciones">
  <a routerLink="/ingredientes" class="card-opcion">
    <span class="emoji">🧂</span>
    <span class="texto">Ingredientes</span>
  </a>

  <!-- tarjeta cambiada -->
  <a routerLink="/compras" class="card-opcion">
    <span class="emoji">💰</span>
    <span class="texto">Compras</span>
  </a>

  <a routerLink="/recetas" class="card-opcion">
    <span class="emoji">🍲</span>
    <span class="texto">Recetas</span>
  </a>

  <a routerLink="/listar-recetas" class="card-opcion">
    <span class="emoji">📖</span>
    <span class="texto">Listar&nbsp;Recetas</span>
  </a>
</div>
