@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos globales abajo */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f4f6;
}